{% extends 'app/base.html' %}

{% block js %}
  <script>
    function eliminarProducto(id){
      Swal.fire({
        'title' : '¿Estas seguro?', 
        'text'  : 'Esta acción es irreversible', 
        'icon'  : 'question', 
        'showCancelButton' : true, 
        'cancelButtonText' : 'No, cancelar', 
        'confirmButtonText' : 'Si , eliminar', 
        'reverseButtons' : true , 
        'confirmButtonColor' : '#dc3545'
      })
      .then (function(result){
        if (result.isConfirmed){
          window.location.href = "/eliminar-producto/"+id+"/"
        }
      })
    }
  </script>
{% endblock %}

{% block contenido %}
{% load humanize %}

<div class="container py-3">
    <h2 class="text-center">Listado de productos</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Marca</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in entity %}
          <tr>
            <th scope="row">{{p.id}}</th>
            <td>{{p.nombre}}</td>
            <td>{{p.precio | intcomma }}</td>
            <td>{{p.marca}}</td>
            <td>{{p.descripcion}}</td>
            <td class="btn-group">
              <a href="{% url 'editar_producto' p.id %}" class="btn btn-success btn-sm">Modificar</a>
              &nbsp;
              <a href="#" onclick="eliminarProducto({{p.id}})" class="btn btn-danger btn-sm">Eliminar</a>
            
            </td>            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>

      {% include 'app/paginator.html' %}
</div>
{% endblock %}